﻿<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">MyBlazorApp</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav>
        <ul class="nav-list">
            <li>
                <NavLink href="/" Match="NavLinkMatch.All">
                    <span class="nav-icon">🏠</span>
                    <span class="nav-text">Home</span>
                </NavLink>
            </li>
            <li>
                <NavLink href="/counter">
                    <span class="nav-icon">🔢</span>
                    <span class="nav-text">Contatore</span>
                </NavLink>
            </li>
            <li>
                <NavLink href="/weather">
                    <span class="nav-icon">🌦️</span>
                    <span class="nav-text">Meteo</span>
                </NavLink>
            </li>
        </ul>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}