@page "/"

<PageTitle>Home</PageTitle>

<h1>Benvenuto su MyBlazorApp</h1>
    <p>
        Questa è la mia applicazione Blazor, progettata per essere veloce, intuitiva e moderna.<br />
        Esplora le funzionalità tramite il menu in alto e scopri come Blazor può semplificare lo sviluppo web.
    </p>
    <p>
        Hai domande? Consulta la documentazione ufficiale in alto a destra.
    </p>